<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neuen Verkäufer eintragen</title>
</head>
<body>

<h2 th:text="${shop.name}"></h2>
<ul>
    <li th:each="verkauefer : ${shop.getVerkaeuferListe()}">
        <span th:text="${verkauefer.name}"></span>
        <form th:action="@{/{shopId}/verkaeufer/edit/{verkaeuferId}(shopId=${shop.id},verkaeuferId=${verkauefer.getId()})}" method="get">
            <button type="submit">editieren</button>
        </form>
        <form th:action="@{/{shopId}/verkaeufer/delete/{verkaeuferId}(shopId=${shop.id},verkaeuferId=${verkauefer.getId()})}" method="post">
            <button type="submit">löschen</button>
        </form>
    </li>
</ul>
<h3>Verkäufer eintragen</h3>
<form th:object="${verkaeufer}" th:action="@{/{shopId}/verkaeufer/add(shopId=${shop.id})}" method="post">
    <p>Name:<input type="text" th:field="*{name}"></p>
    <button type="submit">submit</button>
</form>

<a href="/shops">home</a>

</body>
</html>