<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verkäufer editiere</title>
</head>
<body>

<h3 th:text="${verkaeufer.name}"></h3>
<form th:object="${verkaeufer}" th:action="@{/{shopId}/verkaeufer/edit/{verkaeuferId}(shopId=${shopId}, verkaeuferId=${verkaeuferId})}" method="post">
    <p>Name:<input type="text" th:field="*{name}"></p>
    <button type="submit">submit</button>
</form>

<a href="/shops">home</a>

</body>
</html>