<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shops</title>
</head>
<body>

<br>
<h1> Shops</h1><br>

<ul>
<li th:each="shop : ${shopList}">
    <span th:text="${shop.name}"> </span>
    <ul>
        <li th:each="verkauefer : ${shop.getVerkaeuferListe()}">
            <span th:text="${verkauefer.name}"></span>
        </li>
    </ul>
    <form th:action="@{/{shopId}/verkaeufer/(shopId=${shop.id})}" method="get">
        <button type="submit">Verkäufer bearbeiten</button>
    </form>
</li>
</ul>

<h2>Shop hinzufügen</h2>
<form th:object="${shop}" th:action="@{/shops}" method="post">
    <p>Name:<input type="text" th:field="*{name}"></p>
    <button type="submit">submit</button>
</form>

</body>
</html>